.aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textContainer ol {
    margin-left: 20px;
    list-style: disc;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(136, 136, 136, 1);
}

.linkSpan {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: rgba(249, 214, 128, 1);
}

.buttonsContainer {
    display: flex;
    gap: 16px;
}

@media (max-width: 1024px) {
    .textContainer ol {
        font-size: 14px;
        line-height: 21px;
    }

    .buttonsContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .linkSpan {
        font-size: 14px;
        line-height: 21px;
        color: rgba(136, 136, 136, 1);
        font-weight: 500;
    }
}