.footerContainer {
    margin-top: 60px;
    padding: 62px 100px 96px 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.footerContainer h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
}

.footerContainer a {
    text-decoration: underline;
    cursor: pointer;
}

.secondFooter {
    padding: 21px 100px;
    display: flex;
    justify-content: space-between;
}

.circleContainer {
    display: flex;
    gap: 24px;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.socialMedia {
    display: none;
}

.logo {
    display: none;
}

@media (max-width: 1024px) {
    .logo {
        display: block;
    }
    .footerContainer {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .secondFooter {
        background-color: rgb(59, 59, 59);
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .circle {
        display: none;
    }

    .socialMedia {
        display: block;
    }
}
