.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 100px;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.input {
    width: 50%;
    height: 48px;
    background: rgba(245, 245, 245, 0.2);
    border: 1px solid rgba(226, 226, 226, 0.2);
    border-radius: 35px;
    background-image: url("../../assets/Forget.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% left 24px;
}

.input::placeholder {
    padding-left: 50px;
}

.image {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        padding: 16px;
    }

    .div {
        display: none;
    }

    .image {
        display: block;
    }
}