.hero {
    background-image: url("../../assets/HeroImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 762px;
    margin-top: 0px;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    left: 131px;
    top: 322px;
    position: relative;
    color: rgba(255, 255, 255, 1);
}

.h1{
    font-size: 60px;
}

.smallLogo {
    background-color: black;
    height: 37px;
    width: 124px;
    border-radius: 4px;
    background-image: url("../../assets/Logo.svg");
    background-size: 84px 19.52px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 9px;
}

.menu {
    position: absolute;
    bottom: 18px;
    right: 640px;
}

.detail {
    position: absolute;
    bottom: 73px;
    right: 100px;
}

@media (max-width: 1024px) {
    .title {
        left: 30px;
        top: 100px;
    }

    .detail {
        bottom: 26px;
        right: 25px;
        width: 100px;
    }

    .hero{
        height: 500px;
        background-size: cover;
    }

    .menu {
        right: 400px;
        width: 400px;
        height: 90px;
    }
}

@media (max-width: 700px) {
    .title {
        left: 30px;
        top: 100px;
    }
    .detail {
        bottom: 26px;
        right: 25px;
        width: 100px;
    }
    .hero{
        height: 360px;
    }
    .menu {
        right: 50px;
    }
    
}